@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: url('../src/assets/fonts/Roboto.ttf');
}

#root {
    max-width: 80vw;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: #252525;
}